body {
    font-family: Arial;
    padding: 20px;
}

textarea {
    width: 400px;
    height: 120px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background: green;
    color: white;
    border: none;
}